.jumbotron {
  padding-top: 8rem;
  background-color: #e0ffff;
}

section {
  padding-top: 19rem;
}

.gallery-img {
  widht: 100%;
}
#gallery .row > * {
  padding: 0;
}

#footer {
  padding-top: 8rem;
  background-color: rgb(54, 217, 217);
}
